@using Fruitables.Services
@inject LayoutService _layoutService

@{
    var settings = await _layoutService.GetAllSetting();
}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">

        <!-- Top Footer Row -->
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5);">
            <div class="row g-4">

                <!-- Logo + PoweredBy -->
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Fruitables</h1>
                        <p class="text-secondary mb-0">@settings["PoweredBy"]</p>
                    </a>
                </div>

                <!-- Subscribe -->
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill"
                               type="email"
                               placeholder="Your Email" />
                        <button type="submit"
                                class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                                style="top: 0; right: 0;">
                            Subscribe Now
                        </button>
                    </div>
                </div>

                <!-- Social Icons -->
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                           href="@settings["Facebook"]">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle"
                           href="@settings["Linkedin"]">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>


        <!-- Footer Links -->
        <div class="row g-5">

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Customer Service</h4>
                    <div class="d-flex flex-column text-start footer-item">
                        <a class="btn-link" href="">Help & Contact Us</a>
                        <a class="btn-link" href="">Returns & Refunds</a>
                        <a class="btn-link" href="">Online Stores</a>
                        <a class="btn-link" href="">Terms & Conditions</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Company</h4>
                    <div class="d-flex flex-column text-start footer-item">
                        <a class="btn-link" href="">About Us</a>
                        <a class="btn-link" href="">Blog</a>
                        <a class="btn-link" href="">Order Tracking</a>
                        <a class="btn-link" href="">FAQ</a>
                        <a class="btn-link" href="">Contact Us</a>
                        <a class="btn-link" href="">Login</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Social Media</h4>
                    <div class="d-flex flex-column text-start footer-item">
                        <a class="btn-link" href="">Twitter</a>
                        <a class="btn-link" href="">Instagram</a>
                        <a class="btn-link" href="">Tumblr</a>
                        <a class="btn-link" href="">Pinterest</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Payment Accepted</h4>
                    <img src="~/img/@settings["CardsImage"]"
                         class="img-fluid"
                         alt="cards" />
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light">
                    <i class="fas fa-copyright text-light me-2"></i>
                    @settings["PoweredBy"]
                </span>
            </div>

            <div class="col-md-6 my-auto text-center text-md-end text-white">
                Distributed By
                <a class="border-bottom" href="@settings["Linkedin"]">LinkedIn</a>
                /
                <a class="border-bottom" href="@settings["Facebook"]">Facebook</a>
            </div>

        </div>
    </div>
</div>
<!-- Copyright End -->
